<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Agenda Telefônica</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h2 class="panel-title">Agenda Telefônica</h2>
		</div>
		<div class="panel-body">
			<div>
				<form class="form-inline" method="GET" th:object="${contato}" th:action="@{/pesquisa}" style="width:40px 0"> 
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{nome}" style="width:600px" maxlength=65 placeholder="Pesquisar"/>
						<input type="hidden" class="form-control" name="id" th:value="${contato.id}"/>
						<button type="submit" class="btn btn-primary"> Pesquisar </button>
					</div>
				</form>
			</div>
			<form class="form-inline" method="POST" th:object="${contato}" th:action="@{/cadastro}" style="margin: 40px 0">
				<div th:if="${contato.nome == null}" class="form-group">
					<input type="text" class="form-control" th:field="*{nome}" style="width:600px" maxlength=65 placeholder="Nome do contato"/>
					<input type="text" class="form-control" th:field="*{telefone}" maxlength=18 placeholder="Número do telefone"/>
					<input type="hidden" class="form-control" name="id" th:value="${contato.id}"/>
					<button type="submit" class="btn btn-primary"> Adicionar </button>
				</div>
			</form>
			<table class="table">
				<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="contato : ${contatos}">
					<form action="#" th:action="@{/execucao}" th:object="${contato}" method="GET">
						<td th:text="${contato.nome}"></td>
						<td th:text="${contato.telefone}"></td>
						<td><input type="hidden" name="id" th:value="${contato.id}"/><button type="submit" class="addbutton" name="atualizar" value="atualizar">Atualizar</button></td>
						<td><input type="hidden" name="id" th:value="${contato.id}"/><button type="submit" class="removebutton" name="remover" value="remover">Remover</button></td>
					</form>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>