<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Agenda Telefônica</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h2 class="panel-title">Atualizar Dados do Contato</h2>
		</div>
		<div class="panel-body">
			<form class="form-inline" method="POST" th:object="${contato}" th:action="@{/atualizacao}" style="margin: 40px 0">
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{nome}" style="width:600px" maxlength=65 placeholder="Nome do contato"/>
					<input type="text" class="form-control" th:field="*{telefone}" maxlength=18 placeholder="Número do telefone"/>
					<input type="hidden" class="form-control" name="id" th:value="${contato.id}"/>
					<button type="submit" class="btn btn-primary"> Atualizar </button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>